.main_square {
    position: absolute;
    background-color: white;
    width: 200px;
    height: 200px;
    border: thick black solid;
}

.red_top_left_square {
    position: absolute;
    background-color: red;
    width: 60%;
    height: 60%;
    top: 0%;
    left: 0%;
}

.blue_bottom_right_square {
    position: absolute;
    background-color: blue;
    width: 60%;
    height: 60%;
    bottom: 0%;
    right: 0%;
}

.green_middle_square {
    position: absolute;
    background-color: green;
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
}